---
import "../styles/global.css";
import BaseLayout from "../layout/baseLayout.astro";
import BlogPost from "../component/blogPost.astro";
const allPost = await Astro.glob('../pages/post/*.md')
const titulo = "Blog";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
  </head>
  <body>
    <BaseLayout titulo={titulo}>
    <h1>Mi aprendizaje en astro</h1>
    <p>En este blog comentare mis progresos con astro</p>
    <ul>
      {allPost.map((post)=> <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
    </BaseLayout>
    <script>
      import '../scripts/menu'
    </script>
  </body>
</html>
